.logo {
  background: -webkit-linear-gradient(
                  0.5turn,
                  rgba(135, 240, 252, 1),
                  rgba(191, 120, 251, 1),
                  rgba(250, 115, 198, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.normalWeight {
  font-weight: normal;
}

.greyer {
  opacity: 0.85;
}

.xp {
  color: var(--v-purpleAccent-lighten2);
  opacity: 1;
}
